// * {
// border:1px solid red;
// }

body.thrive {
  background-color: black;
  height: 100vh;

  .container {
    position: absolute;
    z-index: -1;
  }

  .text {
    width: 70%;
    margin-left: 2%;
  }

  p {
    font-size: 17px;
    font-family: vito;
  }

  span {
    background: #FFFFFF;
    color: #000000;
    line-height: 1.6;
    // padding: 0 10px 0.5vw 10px;
    // margin-bottom: 2.5vw;
    padding: 10px;
  }

  .first {
    margin-top: 18em;
  }

  .navigation-thrive {
    // mix-blend-mode: overlay;
    filter: invert(100%);
    position: fixed;
    margin-top: 20px;

    .nav {
      ul {
        margin: 0;
        padding: 0;
      }

      li {
        list-style: none;
      }

      a {
        font-family: vito;
        color: black;
        text-decoration: none;
        font-size: 16px;
        margin: 0;
      }
    }
  }

  .container_fullwidth {
    width: 100%;

    img {
      width: 100%;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
